<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>         
      <supportedRuntime version="v2.0.50727"/>
    </startup>

  <appSettings>
    <add key="FTP_User" value="u384953116"/>
    <add key="FTP_Password" value="stockfund"/>
    <add key="FTP_Url" value="ftp://31.170.166.75/"/>
  </appSettings>
</configuration>
